<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EasyDL.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>61A88DFC6C1461170F748580D2966646DE40C1E4</string>
				<key>dateExpires</key>
				<string>2020/4/9</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>6T9LLJKSM4.com.baidu.easyai</string>
				<key>com.apple.developer.team-identifier</key>
				<string>6T9LLJKSM4</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>6T9LLJKSM4.com.baidu.easyai</string>
				</array>
			</dict>
			<key>name</key>
			<string>EasyDL.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5f130474-1d67-4b12-9504-a078d7a08a51</string>
				<key>name</key>
				<string>dis-com.baidu.easyai</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>6T9LLJKSM4</string>
				<key>name</key>
				<string>Beijing Baidu Netcom Science &amp; Technology Co.,Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
