<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://www.abc.com/easydl.ipa</string>
		<key>displayImageURL</key>
		<string>https://www.abc.com/easydl.png</string>
		<key>fullSizeImageURL</key>
		<string>https://www.abc.com/easydl.png</string>
	</dict>
	<key>method</key>
	<string>enterprise</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.baidu.easyai</key>
		<string>dis-com.baidu.easyai</string>
	</dict>
	<key>signingCertificate</key>
	<string>iPhone Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>6T9LLJKSM4</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
