<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>ftp://yq01-ecom-holmes22-20150818112825.yq01.baidu.com:8100/ggit/baidu/dragonboat/ios-sdk/output/easydl.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>ftp://yq01-ecom-holmes22-20150818112825.yq01.baidu.com:8100/ggit/baidu/dragonboat/ios-sdk/output/57x57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>ftp://yq01-ecom-holmes22-20150818112825.yq01.baidu.com:8100/ggit/baidu/dragonboat/ios-sdk/output/120x120.jpg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.baidu.easyai</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>EasyDL</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
